<p id="notice"><%= notice %></p>

<h1>Wine Strains</h1>

<table>
  <thead>
    <tr>
      <th>Wine</th>
      <th>Strain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wine_strains.each do |wine_strain| %>
      <tr>
        <td><%= wine_strain.wine.name %></td>
        <td><%= wine_strain.strain.name %></td>
        <td><%= link_to 'Show', wine_strain %></td>
        <td><%= link_to 'Edit', edit_wine_strain_path(wine_strain) %></td>
        <td><%= link_to 'Destroy', wine_strain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine Strain', new_wine_strain_path %>
