<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @wine_strain.wine_id %>
</p>

<p>
  <strong>Strain:</strong>
  <%= @wine_strain.strain_id %>
</p>

<%= link_to 'Edit', edit_wine_strain_path(@wine_strain) %> |
<%= link_to 'Back', wine_strains_path %>
